/* Resetando o padrão do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}

header h1 {
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center;
}

header p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 30px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 1.2em;
    font-weight: bold;
}

section {
    margin-bottom: 40px;
}

h2 {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 20px;
}

.galeria {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.galeria img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.player {
    text-align: center;
    margin-top: 20px;
}

.carta {
    width: 80%;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.capa {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.conteudo {
    font-size: 1.2em;
}

footer {
    text-align: center;
    font-size: 1em;
    margin-top: 40px;
    font-style: italic;
    color: #555;
}